.main-nav {
  position: relative;
  text-align: right;
  @include clearfix;

  &__top {
    max-width: 976px;
    padding-left: 127px;
    margin: 0 auto;
    box-sizing: border-box;
    @include clearfix;

    &__logo {
      float: left;
      margin-left: -127px;
      padding: 16px 8px 12px;
    }
  }

  &__toggle {
    margin: 0;
    padding: 9px 8px 9px 18px;
    background: none;
    border: 0;
    border-left: 1px solid #444;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
  }

  &__list {
    max-width: 100%;
    white-space: nowrap;

    &__item,
    &__toggle {
      display: inline-block;
      margin-left: -4px;
    }

    &__item {
      padding: 11px 14px 8px;
    }

    &__toggle {
      padding: 10px 14px 18px;

      &.is-hidden {
        display: none;
      }
    }

    .main-nav__nested {
      &.is-expanded {
        position: absolute;
        top: 66px;
        left: 0;
        width: 100%;
      }
    }
  }

  &__dropdown {
    clear: both;
    background-color: #1e1e1e;
    text-align: left;

    .js & {
      display: none;
    }

    &__item {
      max-width: 976px;
      border-bottom: 1px solid #333;
      margin: 0 auto;

      &:last-child {
        border-bottom: 0;
      }

      &.is-hidden {
        display: none;
      }
    }

    &.is-expanded {
      display: block;
    }
  }

  &__nested {
    text-align: left;
    overflow: hidden;

    .js & {
      display: none;
    }

    &.is-expanded {
      display: block;
      background-color: #1e1e1e;
    }
  }

  &__link {
    display: inline-block;
    margin: 0;
    padding: 12px 8px;
    background: none;
    border: 0;
    color: $navigation-link-color;
    font-size: 15px;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;

    @include hoverActiveFocus() {
      color: $navigation-link-hover-color;
    }

    &.is-active,
    &.is-selected {
      color: $navigation-link-hover-color;
    }

    &.is-active {
      .main-nav__link__arrow {
        border-top: 0;
        border-bottom: 4px solid #fff;
      }
    }

    &__arrow {
      position: relative;
      top: -2px;
      display: inline-block;
      margin-left: 4px;
      border-top: 4px solid #fff;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }
  }
}
