.ribbon-navigation {
  position: relative;
  max-width: 976px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    background-color: red;
    z-index: 1;
  }

  &:before {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(30, 30, 30, 1) 0%, rgba(0, 0, 0, 0) 100%);
  }

  &:after {
    right: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 1) 100%);
  }

  &__inner {
    margin-bottom: -24px;
    padding: 8px 8px 32px 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  &__item {
    display: inline-block;
  }

  &__link {
    margin: 0 8px;
    padding: 0 4px;
    color: $navigation-link-color;
    transition: $navigation-transition;
    text-decoration: none;

    @include hoverActiveFocus() {
      color: $navigation-link-hover-color;
    }
  }
}
